In [2]:
import pandas as pd
import numpy as np

In [3]:
Omics_EPCG_TPMlogp1 = pd.read_csv('OmicsExpressionProteinCodingGenesTPMLogp1.csv')
Omics_EPCG_TPMlogp1 = Omics_EPCG_TPMlogp1.rename(columns={'Unnamed: 0': 'Depmap ID'})
Omics_EPCG_TPMlogp1.columns = Omics_EPCG_TPMlogp1.columns.str.split(' ').str[0]
Omics_EPCG_TPMlogp1.head()

,Depmap,TSPAN6,TNMD,DPM1,SCYL3,C1orf112,FGR,CFH,FUCA2,GCLC,...,H3C2,H3C3,AC098582.1,DUS4L-BCAP29,C8orf44-SGK3,ELOA3B,NPBWR1,ELOA3D,ELOA3,CDR1
0,ACH-001113,4.331992,0.000000,7.364660,2.792855,4.471187,0.028569,1.226509,3.044394,6.500005,...,2.689299,0.189034,0.201634,2.130931,0.555816,0.0,0.275007,0.0,0.0,0.000000
1,ACH-001289,4.567424,0.584963,7.106641,2.543496,3.504620,0.000000,0.189034,3.813525,4.221877,...,1.286881,1.049631,0.321928,1.464668,0.632268,0.0,0.014355,0.0,0.0,0.000000
2,ACH-001339,3.150560,0.000000,7.379118,2.333424,4.228049,0.056584,1.310340,6.687201,3.682573,...,0.594549,1.097611,0.831877,2.946731,0.475085,0.0,0.084064,0.0,0.0,0.042644
3,ACH-001538,5.085340,0.000000,7.154211,2.545968,3.084064,0.000000,5.868390,6.165309,4.489928,...,0.214125,0.632268,0.298658,1.641546,0.443607,0.0,0.028569,0.0,0.0,0.000000
4,ACH-000242,6.729417,0.000000,6.537917,2.456806,3.867896,0.799087,7.208478,5.570159,7.127117,...,1.117695,2.358959,0.084064,1.910733,0.000000,0.0,0.464668,0.0,0.0,0.000000

In [4]:
max_value = Omics_EPCG_TPMlogp1.iloc[:, 1:].to_numpy().max()

print(f"The largest number in the DataFrame is: {max_value}")

The largest number in the DataFrame is: 17.783669710269233

In [5]:
cBAF_downreg = pd.read_excel('cBAF_downreg_sig.xlsx')
cBAF_downreg.head()

,gene,proportion_of_tissues_where_significant,TCGA-COAD_qvalue,TCGA-LUAD_qvalue,TCGA-LUSC_qvalue,TCGA-BRCA_qvalue,TCGA-KIRP_qvalue,TCGA-READ_qvalue,TCGA-LIHC_qvalue,TCGA-BLCA_qvalue,annotated_functions
0,AC120498.2,0.750,0.017054,0.211041,0.999958,0.027279,2.475964e-05,0.044611,8.244354e-04,0.001933,None
1,CEACAM4,0.625,0.025639,0.886171,0.999958,0.026456,1.378033e-08,0.869397,3.040177e-02,0.011028,None
2,AMPD1,0.625,0.000119,0.045469,0.999958,0.673551,6.832343e-03,0.266281,3.292728e-05,0.022511,None
3,WDFY4,0.625,0.005691,0.011861,0.999958,0.039050,3.174918e-06,0.977838,2.106987e-02,0.790541,None
4,SLC37A2,0.625,0.010461,0.661427,0.999958,0.023025,4.658607e-19,0.089450,8.152264e-07,0.009690,None

In [6]:
cBAF_downreg2 = pd.read_excel('cBAF_downreg.xlsx')
cBAF_downreg2.head()

,gene,proportion_of_tissues_where_significant,TCGA-COAD_qvalue,TCGA-LUAD_qvalue,TCGA-LUSC_qvalue,TCGA-BRCA_qvalue,TCGA-KIRP_qvalue,TCGA-READ_qvalue,TCGA-LIHC_qvalue,TCGA-BLCA_qvalue,annotated_functions
0,AC120498.2,0.750,0.017054,0.211041,0.999958,0.027279,2.475964e-05,0.044611,8.244354e-04,0.001933,None
1,CEACAM4,0.625,0.025639,0.886171,0.999958,0.026456,1.378033e-08,0.869397,3.040177e-02,0.011028,None
2,AMPD1,0.625,0.000119,0.045469,0.999958,0.673551,6.832343e-03,0.266281,3.292728e-05,0.022511,None
3,WDFY4,0.625,0.005691,0.011861,0.999958,0.039050,3.174918e-06,0.977838,2.106987e-02,0.790541,None
4,SLC37A2,0.625,0.010461,0.661427,0.999958,0.023025,4.658607e-19,0.089450,8.152264e-07,0.009690,None

In [7]:
ref2 = Omics_EPCG_TPMlogp1.transpose()
ref2 = ref2.reset_index()


row_index = 0
# Set the new header
new_header = ref2.iloc[row_index]  # Take the row to be used as header
df = ref2[1:]  # Remove the header row from the data
df.columns = new_header  # Set new header

# Reset index if desired
df.reset_index(drop=True, inplace=True)
df = df.rename(columns={'Depmap':'gene'})
df.head()

,gene,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,...,ACH-001578,ACH-000036,ACH-000973,ACH-001128,ACH-000750,ACH-000285,ACH-002669,ACH-001858,ACH-001997,ACH-000052
0,TSPAN6,4.331992,4.567424,3.15056,5.08534,6.729417,4.27277,3.337711,0.056584,4.017031,...,6.345361,4.018812,4.328406,5.995032,3.533563,0.056584,3.111031,4.390943,5.05745,4.249445
1,TNMD,0.0,0.584963,0.0,0.0,0.0,0.189034,0.0,0.0,0.0,...,3.401903,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,DPM1,7.36466,7.106641,7.379118,7.154211,6.537917,7.023255,5.927659,6.094236,6.534497,...,7.211694,6.700856,7.059182,6.238978,6.488483,6.604368,7.031329,7.013239,7.815191,6.175724
3,SCYL3,2.792855,2.543496,2.333424,2.545968,2.456806,2.555816,1.944858,3.971773,2.226509,...,2.533563,2.137504,1.891419,2.304511,1.823749,3.266037,1.541019,1.887525,2.538538,2.31904
4,C1orf112,4.471187,3.50462,4.228049,3.084064,3.867896,3.841973,2.678072,3.731183,3.02148,...,4.374344,2.531069,3.529821,4.0,3.308885,4.973152,3.664483,3.252476,3.893362,3.825786

In [37]:
score_df = pd.merge(df, cBAF_downreg, on = 'gene', how = 'inner')
score_df.head()

,gene,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,...,proportion_of_tissues_where_significant,TCGA-COAD_qvalue,TCGA-LUAD_qvalue,TCGA-LUSC_qvalue,TCGA-BRCA_qvalue,TCGA-KIRP_qvalue,TCGA-READ_qvalue,TCGA-LIHC_qvalue,TCGA-BLCA_qvalue,annotated_functions
0,CEACAM4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.625,0.025639,0.886171,0.999958,0.026456,1.378033e-08,0.869397,3.040177e-02,0.011028,None
1,AMPD1,0.0,0.028569,0.0,0.432959,0.014355,0.0,0.070389,0.0,0.124328,...,0.625,0.000119,0.045469,0.999958,0.673551,6.832343e-03,0.266281,3.292728e-05,0.022511,None
2,WDFY4,0.0,0.014355,0.042644,0.0,0.15056,0.111031,1.070389,0.275007,0.014355,...,0.625,0.005691,0.011861,0.999958,0.039050,3.174918e-06,0.977838,2.106987e-02,0.790541,None
3,SLC37A2,2.100978,0.163499,3.068671,5.933337,4.69488,0.097611,0.443607,1.169925,1.599318,...,0.625,0.010461,0.661427,0.999958,0.023025,4.658607e-19,0.089450,8.152264e-07,0.009690,None
4,TM6SF1,0.111031,1.195348,0.871844,0.0,0.111031,0.0,0.014355,5.977051,0.0,...,0.625,0.011219,0.112046,0.999958,0.005084,3.874852e-08,0.752260,6.756285e-07,0.008274,None

In [10]:
score_df2 = score_df.transpose()
score_df2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
gene,CEACAM4,AMPD1,WDFY4,SLC37A2,TM6SF1,HDC,MS4A2,CD300C,GPR1,GPR141,SIRPB2,TMEM26,SAMD9,CLEC5A
ACH-001113,0.0,0.0,0.0,2.100978,0.111031,0.0,0.0,0.0,2.521051,0.0,0.056584,0.0,2.575312,0.097611
ACH-001289,0.0,0.028569,0.014355,0.163499,1.195348,0.189034,0.0,0.056584,3.518535,0.0,0.0,0.0,0.238787,0.070389
ACH-001339,0.0,0.0,0.042644,3.068671,0.871844,0.014355,0.056584,0.056584,0.286881,0.0,0.0,0.344828,3.777157,0.014355
ACH-001538,0.0,0.432959,0.0,5.933337,0.0,0.056584,0.0,0.0,0.378512,0.014355,0.545968,0.0,4.904484,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TCGA-KIRP_qvalue,0.0,0.006832,0.000003,0.0,0.0,0.0,0.000001,0.0,0.046882,0.0,0.0,0.022257,0.036767,0.03054
TCGA-READ_qvalue,0.869397,0.266281,0.977838,0.08945,0.75226,0.047846,0.137864,0.90332,0.999968,0.63606,0.867406,0.6495,0.572596,0.739067
TCGA-LIHC_qvalue,0.030402,0.000033,0.02107,0.000001,0.000001,0.059599,0.026447,0.005382,0.000974,0.005898,0.000082,0.0,0.000017,0.001762
TCGA-BLCA_qvalue,0.011028,0.022511,0.790541,0.00969,0.008274,0.052973,0.873443,0.013963,0.037416,0.006671,0.000689,0.000581,0.005956,0.002391
annotated_functions,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [11]:
score_df2 = score_df2.reset_index()

row_index = 0
# Set the new header
new_header = score_df2.iloc[row_index]  # Take the row to be used as header
score_df2 = score_df2[1:]  # Remove the header row from the data
score_df2.columns = new_header  # Set new header

# Reset index if desired
score_df2.reset_index(drop=True, inplace=True)
score_df2 = score_df2.rename(columns={'gene':'Depmap ID'})

In [12]:
score_df2.head()

,Depmap ID,CEACAM4,AMPD1,WDFY4,SLC37A2,TM6SF1,HDC,MS4A2,CD300C,GPR1,GPR141,SIRPB2,TMEM26,SAMD9,CLEC5A
0,ACH-001113,0.0,0.0,0.0,2.100978,0.111031,0.0,0.0,0.0,2.521051,0.0,0.056584,0.0,2.575312,0.097611
1,ACH-001289,0.0,0.028569,0.014355,0.163499,1.195348,0.189034,0.0,0.056584,3.518535,0.0,0.0,0.0,0.238787,0.070389
2,ACH-001339,0.0,0.0,0.042644,3.068671,0.871844,0.014355,0.056584,0.056584,0.286881,0.0,0.0,0.344828,3.777157,0.014355
3,ACH-001538,0.0,0.432959,0.0,5.933337,0.0,0.056584,0.0,0.0,0.378512,0.014355,0.545968,0.0,4.904484,0.0
4,ACH-000242,0.0,0.014355,0.15056,4.69488,0.111031,0.111031,0.124328,0.0,0.163499,0.0,0.632268,0.028569,0.831877,0.0

In [14]:
df_numeric = score_df2.select_dtypes(include=[float, int])  # Keep only numeric columns

# Find the maximum value in the numeric DataFrame
max_value = df_numeric.to_numpy().max()

print(f"The largest number in the DataFrame is: {max_value}")

ValueError: zero-size array to reduction operation maximum which has no identity

In [13]:
score_df = pd.merge(df, cBAF_downreg, on = 'gene', how = 'inner')

In [15]:
score_df.to_excel('BAF loss score v10.xlsx')

In [8]:
new_score_df = pd.merge(df, cBAF_downreg2, on = 'gene', how = 'inner')
new_score_df.head()

,gene,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,...,proportion_of_tissues_where_significant,TCGA-COAD_qvalue,TCGA-LUAD_qvalue,TCGA-LUSC_qvalue,TCGA-BRCA_qvalue,TCGA-KIRP_qvalue,TCGA-READ_qvalue,TCGA-LIHC_qvalue,TCGA-BLCA_qvalue,annotated_functions
0,STAB1,0.056584,0.084064,0.070389,0.0,0.014355,0.137504,0.028569,0.042644,0.201634,...,0.5,0.622912,0.928117,0.999958,0.019496,3.577760e-08,0.937959,0.018408,0.003142,protein binding
1,SLC6A7,0.0,0.0,0.0,0.042644,0.0,1.970854,0.014355,0.0,0.0,...,0.5,0.918358,0.015666,0.999958,0.032801,3.664958e-04,0.802462,0.029678,0.488808,None
2,ALOX5,0.214125,0.214125,0.014355,0.62293,5.782933,1.944858,0.201634,0.238787,1.077243,...,0.5,0.678948,0.043900,0.999958,0.016656,9.481017e-03,0.569912,0.000022,0.067270,protein binding
3,MTMR11,1.831877,4.831877,1.669027,3.778209,1.765535,3.91265,2.759156,2.970854,2.865919,...,0.5,0.613535,0.878440,0.999958,0.008080,5.340482e-01,0.006816,0.002723,0.000059,None
4,ADAM28,0.111031,0.097611,0.124328,2.811471,0.978196,0.0,0.214125,1.819668,0.176323,...,0.5,0.049856,0.700369,0.999958,0.016491,3.649882e-02,0.992190,0.000002,0.124470,None

In [17]:
new_score_df.to_excel('BAF loss score v11.xlsx')

In [11]:
# Replace 0s with NaN
df.replace(np.nan, 0, inplace=True)
df.head()

,gene,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,...,ACH-001578,ACH-000036,ACH-000973,ACH-001128,ACH-000750,ACH-000285,ACH-002669,ACH-001858,ACH-001997,ACH-000052
0,TSPAN6,4.331992,4.567424,3.15056,5.08534,6.729417,4.27277,3.337711,0.056584,4.017031,...,6.345361,4.018812,4.328406,5.995032,3.533563,0.056584,3.111031,4.390943,5.05745,4.249445
1,TNMD,0.0,0.584963,0.0,0.0,0.0,0.189034,0.0,0.0,0.0,...,3.401903,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,DPM1,7.36466,7.106641,7.379118,7.154211,6.537917,7.023255,5.927659,6.094236,6.534497,...,7.211694,6.700856,7.059182,6.238978,6.488483,6.604368,7.031329,7.013239,7.815191,6.175724
3,SCYL3,2.792855,2.543496,2.333424,2.545968,2.456806,2.555816,1.944858,3.971773,2.226509,...,2.533563,2.137504,1.891419,2.304511,1.823749,3.266037,1.541019,1.887525,2.538538,2.31904
4,C1orf112,4.471187,3.50462,4.228049,3.084064,3.867896,3.841973,2.678072,3.731183,3.02148,...,4.374344,2.531069,3.529821,4.0,3.308885,4.973152,3.664483,3.252476,3.893362,3.825786

In [12]:
df_numeric = df.select_dtypes(include=[float, int])  # Select numeric columns
df[df_numeric.columns] = 18 - df_numeric

In [18]:
df_numeric.head()

,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,ACH-000705,...,ACH-001578,ACH-000036,ACH-000973,ACH-001128,ACH-000750,ACH-000285,ACH-002669,ACH-001858,ACH-001997,ACH-000052
0,13.668008,13.432576,14.849440,12.914660,11.270583,13.727230,14.662289,17.943416,13.982969,13.587896,...,11.654639,13.981188,13.671594,12.004968,14.466437,17.943416,14.888969,13.609057,12.942550,13.750555
1,18.000000,17.415037,18.000000,18.000000,18.000000,17.810966,18.000000,18.000000,18.000000,18.000000,...,14.598097,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
2,10.635340,10.893359,10.620882,10.845789,11.462083,10.976745,12.072341,11.905764,11.465503,11.587218,...,10.788306,11.299144,10.940818,11.761022,11.511517,11.395632,10.968671,10.986761,10.184809,11.824276
3,15.207145,15.456504,15.666576,15.454032,15.543194,15.444184,16.055142,14.028227,15.773491,15.632629,...,15.466437,15.862496,16.108581,15.695489,16.176251,14.733963,16.458981,16.112475,15.461462,15.680960
4,13.528813,14.495380,13.771951,14.915936,14.132104,14.158027,15.321928,14.268817,14.978520,13.724248,...,13.625656,15.468931,14.470179,14.000000,14.691115,13.026848,14.335517,14.747524,14.106638,14.174214

In [14]:
# Convert all columns to numeric, forcing errors to NaN (if any)
df_numeric = df.apply(pd.to_numeric, errors='coerce')

# Drop any columns that are still non-numeric after conversion
df_numeric = df_numeric.dropna(axis=1, how='all')

# Now find the maximum value
max_value = df_numeric.max().max()
print(f"The largest number in the DataFrame is: {max_value}")

The largest number in the DataFrame is: 17.783669710269233

In [15]:
df_numeric.head()

,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,ACH-000705,...,ACH-001578,ACH-000036,ACH-000973,ACH-001128,ACH-000750,ACH-000285,ACH-002669,ACH-001858,ACH-001997,ACH-000052
0,4.331992,4.567424,3.150560,5.085340,6.729417,4.272770,3.337711,0.056584,4.017031,4.412104,...,6.345361,4.018812,4.328406,5.995032,3.533563,0.056584,3.111031,4.390943,5.057450,4.249445
1,0.000000,0.584963,0.000000,0.000000,0.000000,0.189034,0.000000,0.000000,0.000000,0.000000,...,3.401903,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,7.364660,7.106641,7.379118,7.154211,6.537917,7.023255,5.927659,6.094236,6.534497,6.412782,...,7.211694,6.700856,7.059182,6.238978,6.488483,6.604368,7.031329,7.013239,7.815191,6.175724
3,2.792855,2.543496,2.333424,2.545968,2.456806,2.555816,1.944858,3.971773,2.226509,2.367371,...,2.533563,2.137504,1.891419,2.304511,1.823749,3.266037,1.541019,1.887525,2.538538,2.319040
4,4.471187,3.504620,4.228049,3.084064,3.867896,3.841973,2.678072,3.731183,3.021480,4.275752,...,4.374344,2.531069,3.529821,4.000000,3.308885,4.973152,3.664483,3.252476,3.893362,3.825786

In [16]:
df_numeric = 18 - df_numeric

In [17]:
df_numeric.head()

,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,ACH-000705,...,ACH-001578,ACH-000036,ACH-000973,ACH-001128,ACH-000750,ACH-000285,ACH-002669,ACH-001858,ACH-001997,ACH-000052
0,13.668008,13.432576,14.849440,12.914660,11.270583,13.727230,14.662289,17.943416,13.982969,13.587896,...,11.654639,13.981188,13.671594,12.004968,14.466437,17.943416,14.888969,13.609057,12.942550,13.750555
1,18.000000,17.415037,18.000000,18.000000,18.000000,17.810966,18.000000,18.000000,18.000000,18.000000,...,14.598097,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
2,10.635340,10.893359,10.620882,10.845789,11.462083,10.976745,12.072341,11.905764,11.465503,11.587218,...,10.788306,11.299144,10.940818,11.761022,11.511517,11.395632,10.968671,10.986761,10.184809,11.824276
3,15.207145,15.456504,15.666576,15.454032,15.543194,15.444184,16.055142,14.028227,15.773491,15.632629,...,15.466437,15.862496,16.108581,15.695489,16.176251,14.733963,16.458981,16.112475,15.461462,15.680960
4,13.528813,14.495380,13.771951,14.915936,14.132104,14.158027,15.321928,14.268817,14.978520,13.724248,...,13.625656,15.468931,14.470179,14.000000,14.691115,13.026848,14.335517,14.747524,14.106638,14.174214

In [19]:
# Convert all columns to numeric, forcing errors to NaN (if any)
df_numeric = new_score_df.apply(pd.to_numeric, errors='coerce')

# Drop any columns that are still non-numeric after conversion
df_numeric = df_numeric.dropna(axis=1, how='all')

# Now find the maximum value
max_value = df_numeric.max().max()
print(f"The largest number in the DataFrame is: {max_value}")

The largest number in the DataFrame is: 12.469362000869811

In [20]:
df_numeric.head()

,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,ACH-000705,...,ACH-000052,proportion_of_tissues_where_significant,TCGA-COAD_qvalue,TCGA-LUAD_qvalue,TCGA-LUSC_qvalue,TCGA-BRCA_qvalue,TCGA-KIRP_qvalue,TCGA-READ_qvalue,TCGA-LIHC_qvalue,TCGA-BLCA_qvalue
0,0.056584,0.084064,0.070389,0.000000,0.014355,0.137504,0.028569,0.042644,0.201634,0.163499,...,0.056584,0.5,0.622912,0.928117,0.999958,0.019496,3.577760e-08,0.937959,0.018408,0.003142
1,0.000000,0.000000,0.000000,0.042644,0.000000,1.970854,0.014355,0.000000,0.000000,0.000000,...,0.014355,0.5,0.918358,0.015666,0.999958,0.032801,3.664958e-04,0.802462,0.029678,0.488808
2,0.214125,0.214125,0.014355,0.622930,5.782933,1.944858,0.201634,0.238787,1.077243,0.594549,...,0.150560,0.5,0.678948,0.043900,0.999958,0.016656,9.481017e-03,0.569912,0.000022,0.067270
3,1.831877,4.831877,1.669027,3.778209,1.765535,3.912650,2.759156,2.970854,2.865919,1.847997,...,2.629939,0.5,0.613535,0.878440,0.999958,0.008080,5.340482e-01,0.006816,0.002723,0.000059
4,0.111031,0.097611,0.124328,2.811471,0.978196,0.000000,0.214125,1.819668,0.176323,1.269033,...,0.650765,0.5,0.049856,0.700369,0.999958,0.016491,3.649882e-02,0.992190,0.000002,0.124470

In [22]:
df_numeric = 13 - df_numeric

In [23]:
df_numeric.head()

,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,ACH-000705,...,ACH-000052,proportion_of_tissues_where_significant,TCGA-COAD_qvalue,TCGA-LUAD_qvalue,TCGA-LUSC_qvalue,TCGA-BRCA_qvalue,TCGA-KIRP_qvalue,TCGA-READ_qvalue,TCGA-LIHC_qvalue,TCGA-BLCA_qvalue
0,12.943416,12.915936,12.929611,13.000000,12.985645,12.862496,12.971431,12.957356,12.798366,12.836501,...,12.943416,12.5,12.377088,12.071883,12.000042,12.980504,13.000000,12.062041,12.981592,12.996858
1,13.000000,13.000000,13.000000,12.957356,13.000000,11.029146,12.985645,13.000000,13.000000,13.000000,...,12.985645,12.5,12.081642,12.984334,12.000042,12.967199,12.999634,12.197538,12.970322,12.511192
2,12.785875,12.785875,12.985645,12.377070,7.217067,11.055142,12.798366,12.761213,11.922757,12.405451,...,12.849440,12.5,12.321052,12.956100,12.000042,12.983344,12.990519,12.430088,12.999978,12.932730
3,11.168123,8.168123,11.330973,9.221791,11.234465,9.087350,10.240844,10.029146,10.134081,11.152003,...,10.370061,12.5,12.386465,12.121560,12.000042,12.991920,12.465952,12.993184,12.997277,12.999941
4,12.888969,12.902389,12.875672,10.188529,12.021804,13.000000,12.785875,11.180332,12.823677,11.730967,...,12.349235,12.5,12.950144,12.299631,12.000042,12.983509,12.963501,12.007810,12.999998,12.875530

In [24]:
df_numeric.to_excel('BAF loss score v12.xlsx')

In [25]:
# Replace 0s with NaN
df_numeric.replace(13, 0, inplace=True)
df_numeric.head()

,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,ACH-000705,...,ACH-000052,proportion_of_tissues_where_significant,TCGA-COAD_qvalue,TCGA-LUAD_qvalue,TCGA-LUSC_qvalue,TCGA-BRCA_qvalue,TCGA-KIRP_qvalue,TCGA-READ_qvalue,TCGA-LIHC_qvalue,TCGA-BLCA_qvalue
0,12.943416,12.915936,12.929611,0.000000,12.985645,12.862496,12.971431,12.957356,12.798366,12.836501,...,12.943416,12.5,12.377088,12.071883,12.000042,12.980504,13.000000,12.062041,12.981592,12.996858
1,0.000000,0.000000,0.000000,12.957356,0.000000,11.029146,12.985645,0.000000,0.000000,0.000000,...,12.985645,12.5,12.081642,12.984334,12.000042,12.967199,12.999634,12.197538,12.970322,12.511192
2,12.785875,12.785875,12.985645,12.377070,7.217067,11.055142,12.798366,12.761213,11.922757,12.405451,...,12.849440,12.5,12.321052,12.956100,12.000042,12.983344,12.990519,12.430088,12.999978,12.932730
3,11.168123,8.168123,11.330973,9.221791,11.234465,9.087350,10.240844,10.029146,10.134081,11.152003,...,10.370061,12.5,12.386465,12.121560,12.000042,12.991920,12.465952,12.993184,12.997277,12.999941
4,12.888969,12.902389,12.875672,10.188529,12.021804,0.000000,12.785875,11.180332,12.823677,11.730967,...,12.349235,12.5,12.950144,12.299631,12.000042,12.983509,12.963501,12.007810,12.999998,12.875530

In [26]:
df_numeric.to_excel('BAF loss score v13.xlsx')

In [27]:
DRC_table = pd.read_excel('DRCtableAUC_merge_DepmapID.xlsx')

In [28]:
DRC_table.head()

  Cell name   Depmap ID  AUC, DEG-35  AUC, DEG-35 sigfig 4
0      143B  ACH-001001     0.738025                0.7380
1     22RV1  ACH-000956     0.543824                0.5438
2   2313287  ACH-000948     0.362258                0.3623
3      253J  ACH-000011     0.811752                0.8118
4    253JBV  ACH-000026     0.713113                0.7131

In [29]:
BAF_scoring = pd.read_excel('FIN_BAF loss scoring.xlsx')

In [30]:
BAF_scoring.head()

    Depmap ID  BAF loss score
0  ACH-001113        0.310738
1  ACH-001289        0.347644
2  ACH-001339        0.477182
3  ACH-001538        0.234629
4  ACH-000242        0.411277

In [31]:
df_fin = pd.merge(DRC_table, BAF_scoring, on = 'Depmap ID', how = 'inner')

In [32]:
df_fin.head()

  Cell name   Depmap ID  AUC, DEG-35  AUC, DEG-35 sigfig 4  BAF loss score
0      143B  ACH-001001     0.738025                0.7380        0.330210
1     22RV1  ACH-000956     0.543824                0.5438        0.256672
2   2313287  ACH-000948     0.362258                0.3623        0.242337
3      253J  ACH-000011     0.811752                0.8118        0.336332
4    253JBV  ACH-000026     0.713113                0.7131        0.387352

In [33]:
df_fin.to_excel('DRCtable_BAFlossScoring.xlsx')

In [47]:
score_df = pd.merge(df, cBAF_downreg, on = 'gene', how = 'inner')
score_df.head()

,gene,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,...,proportion_of_tissues_where_significant,TCGA-COAD_qvalue,TCGA-LUAD_qvalue,TCGA-LUSC_qvalue,TCGA-BRCA_qvalue,TCGA-KIRP_qvalue,TCGA-READ_qvalue,TCGA-LIHC_qvalue,TCGA-BLCA_qvalue,annotated_functions
0,CEACAM4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.625,0.025639,0.886171,0.999958,0.026456,1.378033e-08,0.869397,3.040177e-02,0.011028,None
1,AMPD1,0.0,0.028569,0.0,0.432959,0.014355,0.0,0.070389,0.0,0.124328,...,0.625,0.000119,0.045469,0.999958,0.673551,6.832343e-03,0.266281,3.292728e-05,0.022511,None
2,WDFY4,0.0,0.014355,0.042644,0.0,0.15056,0.111031,1.070389,0.275007,0.014355,...,0.625,0.005691,0.011861,0.999958,0.039050,3.174918e-06,0.977838,2.106987e-02,0.790541,None
3,SLC37A2,2.100978,0.163499,3.068671,5.933337,4.69488,0.097611,0.443607,1.169925,1.599318,...,0.625,0.010461,0.661427,0.999958,0.023025,4.658607e-19,0.089450,8.152264e-07,0.009690,None
4,TM6SF1,0.111031,1.195348,0.871844,0.0,0.111031,0.0,0.014355,5.977051,0.0,...,0.625,0.011219,0.112046,0.999958,0.005084,3.874852e-08,0.752260,6.756285e-07,0.008274,None

In [45]:
#score_df = score_df.transpose()
#score_df = score_df.reset_index()

row_index = 0
# Set the new header
new_header = score_df.iloc[row_index]  # Take the row to be used as header
score_df = score_df[1:]  # Remove the header row from the data
score_df.columns = new_header  # Set new header

# Reset index if desired
score_df.reset_index(drop=True, inplace=True)
score_df = score_df.rename(columns={'gene':'Depmap ID'})

In [46]:
score_df.head()

,CEACAM4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.625,0.0256388889605852,0.88617127532161,0.999958019601415,0.0264562884796713,1.37803315927706e-08,0.869397378296795,0.0304017676469747,0.0110275978721288,None
0,AMPD1,0.0,0.028569,0.0,0.432959,0.014355,0.0,0.070389,0.0,0.124328,...,0.625,0.000119,0.045469,0.999958,0.673551,6.832343e-03,0.266281,3.292728e-05,0.022511,None
1,WDFY4,0.0,0.014355,0.042644,0.0,0.15056,0.111031,1.070389,0.275007,0.014355,...,0.625,0.005691,0.011861,0.999958,0.039050,3.174918e-06,0.977838,2.106987e-02,0.790541,None
2,SLC37A2,2.100978,0.163499,3.068671,5.933337,4.69488,0.097611,0.443607,1.169925,1.599318,...,0.625,0.010461,0.661427,0.999958,0.023025,4.658607e-19,0.089450,8.152264e-07,0.009690,None
3,TM6SF1,0.111031,1.195348,0.871844,0.0,0.111031,0.0,0.014355,5.977051,0.0,...,0.625,0.011219,0.112046,0.999958,0.005084,3.874852e-08,0.752260,6.756285e-07,0.008274,None
4,HDC,0.0,0.189034,0.014355,0.056584,0.111031,0.042644,0.028569,3.541019,0.0,...,0.625,0.001387,0.006463,0.999958,0.004246,1.170829e-09,0.047846,5.959890e-02,0.052973,None

In [48]:
# Convert all columns to numeric, forcing errors to NaN (if any)
df_numeric = score_df.apply(pd.to_numeric, errors='coerce')

# Drop any columns that are still non-numeric after conversion
df_numeric = df_numeric.dropna(axis=1, how='all')

# Now find the maximum value
max_value = df_numeric.max().max()
print(f"The largest number in the DataFrame is: {max_value}")

The largest number in the DataFrame is: 9.878311524849249

In [49]:
df_numeric = 10 - df_numeric

In [50]:
df_numeric.head()

,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,ACH-000705,...,ACH-000052,proportion_of_tissues_where_significant,TCGA-COAD_qvalue,TCGA-LUAD_qvalue,TCGA-LUSC_qvalue,TCGA-BRCA_qvalue,TCGA-KIRP_qvalue,TCGA-READ_qvalue,TCGA-LIHC_qvalue,TCGA-BLCA_qvalue
0,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,9.929611,9.375,9.974361,9.113829,9.000042,9.973544,10.000000,9.130603,9.969598,9.988972
1,10.000000,9.971431,10.000000,9.567041,9.985645,10.000000,9.929611,10.000000,9.875672,9.943416,...,9.810966,9.375,9.999881,9.954531,9.000042,9.326449,9.993168,9.733719,9.999967,9.977489
2,10.000000,9.985645,9.957356,10.000000,9.849440,9.888969,8.929611,9.724993,9.985645,9.971431,...,9.957356,9.375,9.994309,9.988139,9.000042,9.960950,9.999997,9.022162,9.978930,9.209459
3,7.899022,9.836501,6.931329,4.066663,5.305120,9.902389,9.556393,8.830075,8.400682,7.351535,...,9.773491,9.375,9.989539,9.338573,9.000042,9.976975,10.000000,9.910550,9.999999,9.990310
4,9.888969,8.804652,9.128156,10.000000,9.888969,10.000000,9.985645,4.022949,10.000000,9.971431,...,9.514573,9.375,9.988781,9.887954,9.000042,9.994916,10.000000,9.247740,9.999999,9.991726

In [51]:
# Replace 0s with NaN
df_numeric.replace(10, 0, inplace=True)
df_numeric.head()

,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,ACH-000705,...,ACH-000052,proportion_of_tissues_where_significant,TCGA-COAD_qvalue,TCGA-LUAD_qvalue,TCGA-LUSC_qvalue,TCGA-BRCA_qvalue,TCGA-KIRP_qvalue,TCGA-READ_qvalue,TCGA-LIHC_qvalue,TCGA-BLCA_qvalue
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,9.929611,9.375,9.974361,9.113829,9.000042,9.973544,10.000000,9.130603,9.969598,9.988972
1,0.000000,9.971431,0.000000,9.567041,9.985645,0.000000,9.929611,0.000000,9.875672,9.943416,...,9.810966,9.375,9.999881,9.954531,9.000042,9.326449,9.993168,9.733719,9.999967,9.977489
2,0.000000,9.985645,9.957356,0.000000,9.849440,9.888969,8.929611,9.724993,9.985645,9.971431,...,9.957356,9.375,9.994309,9.988139,9.000042,9.960950,9.999997,9.022162,9.978930,9.209459
3,7.899022,9.836501,6.931329,4.066663,5.305120,9.902389,9.556393,8.830075,8.400682,7.351535,...,9.773491,9.375,9.989539,9.338573,9.000042,9.976975,0.000000,9.910550,9.999999,9.990310
4,9.888969,8.804652,9.128156,0.000000,9.888969,0.000000,9.985645,4.022949,0.000000,9.971431,...,9.514573,9.375,9.988781,9.887954,9.000042,9.994916,10.000000,9.247740,9.999999,9.991726

In [52]:
df_numeric.to_excel('BAF loss score v14.xlsx')

In [54]:
df_fin2 = pd.read_excel('FIN_BAF loss scoring_v2.xlsx')

In [55]:
df_10 = pd.merge(DRC_table, df_fin2, on = 'Depmap ID', how = 'inner')

In [56]:
df_10.head()

  Cell name   Depmap ID  AUC, DEG-35  AUC, DEG-35 sigfig 4  BAF loss score
0      143B  ACH-001001     0.738025                0.7380        0.638514
1     22RV1  ACH-000956     0.543824                0.5438        0.464769
2   2313287  ACH-000948     0.362258                0.3623        0.536972
3      253J  ACH-000011     0.811752                0.8118        0.369300
4    253JBV  ACH-000026     0.713113                0.7131        0.749335

In [57]:
df_10.to_excel('DRCtable_BAFlossScoring_v2.xlsx')

In [58]:
TP53 = pd.read_excel('TP53WT_cells_AUC_DepmapID.xlsx')

In [59]:
TP53.head()

  Cell name   Depmap ID  AUC, DEG-35  AUC, DEG-35 sigfig 4
0   2313287  ACH-000948     0.362258                0.3623
1      253J  ACH-000011     0.811752                0.8118
2    253JBV  ACH-000026     0.713113                0.7131
3       697  ACH-000070     0.549193                0.5492
4      769P  ACH-000411     0.539455                0.5395

In [60]:
p53_DRC = pd.merge( TP53, df_10, on = 'Depmap ID', how = 'inner')

In [61]:
p53_DRC.head()

,Cell name_x,Depmap ID,"AUC, DEG-35_x","AUC, DEG-35 sigfig 4_x",Cell name_y,"AUC, DEG-35_y","AUC, DEG-35 sigfig 4_y",BAF loss score
0,2313287,ACH-000948,0.362258,0.3623,2313287,0.362258,0.3623,0.536972
1,253J,ACH-000011,0.811752,0.8118,253J,0.811752,0.8118,0.369300
2,253JBV,ACH-000026,0.713113,0.7131,253JBV,0.713113,0.7131,0.749335
3,697,ACH-000070,0.549193,0.5492,697,0.549193,0.5492,0.819031
4,769P,ACH-000411,0.539455,0.5395,769P,0.539455,0.5395,0.532148

In [62]:
p53_DRC.to_excel('pls work.xlsx')

In [63]:
p53_DRC_v2 = pd.merge(df_fin, TP53, on = 'Depmap ID', how = 'inner')

In [64]:
p53_DRC_v2.head()

,Cell name_x,Depmap ID,"AUC, DEG-35_x","AUC, DEG-35 sigfig 4_x",BAF loss score,Cell name_y,"AUC, DEG-35_y","AUC, DEG-35 sigfig 4_y"
0,2313287,ACH-000948,0.362258,0.3623,0.242337,2313287,0.362258,0.3623
1,253J,ACH-000011,0.811752,0.8118,0.336332,253J,0.811752,0.8118
2,253JBV,ACH-000026,0.713113,0.7131,0.387352,253JBV,0.713113,0.7131
3,697,ACH-000070,0.549193,0.5492,0.429482,697,0.549193,0.5492
4,769P,ACH-000411,0.539455,0.5395,0.270724,769P,0.539455,0.5395

In [65]:
p53_DRC_v2.to_excel('pls work v2.xlsx')